APP_ENV=production
APP_DEBUG=false
APP_KEY=TODO Use 'php artisan key:generate' to set a 32 characters length sentence

ASSETS_PIPELINE=false

CACHE_DRIVER=file

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret
DB_STRICT=false

# https://developers.facebook.com/apps
FACEBOOK_OAUTH_CLIENT_ID=TODO
FACEBOOK_OAUTH_CLIENT_SECRET=TODO

# https://github.com/settings/applications
GITHUB_OAUTH_CLIENT_ID=TODO
GITHUB_OAUTH_CLIENT_SECRET=TODO

# https://code.google.com/apis/console/
GOOGLE_OAUTH_CLIENT_ID=TODO
GOOGLE_OAUTH_CLIENT_SECRET=TODO

# https://apps.twitter.com/
TWITTER_OAUTH_CLIENT_ID=TODO
TWITTER_OAUTH_CLIENT_SECRET=TODO

MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_USERNAME=user
MAIL_PASSWORD=password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@example.com
MAIL_FROM_NAME=No Reply
MAIL_PRETEND=false

SESSION_DRIVER=file
QUEUE_DRIVER=sync
