/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db

# Old files
*~
.*~
*.nfs00*
*.kate-swp
*.old
/.inotify

# Storage
/app/storage/gettext/
/app/storage/debugbar/

# Ctags
/tags

# PHP Debugbar assets
/public/packages/barryvdh/
/public/packages/maximebf/

# Pipelined assets
/public/css/min/
/public/js/min/

# SchemaSpy output
/app/database/schema/
