/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db


# Old files
*~
.*~
*.nfs00*
*.kate-swp
*.old
/.inotify

# Gettext
/app/storage/gettext/


# Ctags
/tags

# Packages
/public/packages/barryvdh/
/public/css/min/
/public/js/min/
