/vendor
composer.phar
composer.lock
.env.*
.DS_Store
Thumbs.db

*~
.*~
*.nfs00*
*.kate-swp
*.old

/.inotify
/database/backups/
/database/schema/
/public/css/debugbar.css
/public/css/min/
/public/js/debugbar.js
/public/js/min/
/storage/debugbar/
/storage/gettext/
/tags
