a {cursor:pointer}

caption {font-style:italic;padding-bottom:.5em}
caption.bottom {caption-side:bottom;padding-bottom:.0; padding-top:.5em}
table.hover {margin-left: auto;margin-right: auto;}
table.hover td {vertical-align: middle !important;}
table.hover .has-tip {font-weight:normal}
table.hover tbody:hover > tr {/*opacity: 0.5;*/}table.hover tbody:hover > tr:hover {opacity: 1.0;background-color:#DDD !important}
table.hover .actions .button {margin:0;padding-top:.3em;padding-bottom:.3em;}
table.hover .actions {white-space:nowrap;}

#success {margin:1em 20% 0}
#delete-modal-form {padding-bottom:0}

