/* To set a custom with to the aside of the offcanvas add a class of ".custom-width-off-canvas" */
.custom-width-off-canvas .off-canvas{
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	min-height: 100%;
}
.custom-width-off-canvas .position-left.is-open,.custom-width-off-canvas .position-right.is-open {width: 25rem;}
.off-canvas-wrapper-inner.custom-width-off-canvas.is-off-canvas-open.is-open-right { -webkit-transform: translate3d(-25rem, 0, 0); -moz-transform: translate3d(-25rem, 0, 0); -ms-transform: translate3d(-25rem, 0, 0); -o-transform: translate3d(-25rem, 0, 0); transform: translate3d(-25rem, 0, 0); }
.custom-width-off-canvas > .off-canvas-wrapper-inner.is-off-canvas-open.is-open-left { -webkit-transform: translate3d(25rem, 0, 0); -moz-transform: translate3d(25rem, 0, 0); -ms-transform: translate3d(25rem, 0, 0); -o-transform: translate3d(25rem, 0, 0); transform: translate3d(25rem, 0, 0); }
.csstransforms.no-csstransforms3d .custom-width-off-canvas > .off-canvas-wrapper-inner.is-off-canvas-open.is-open-left { -webkit-transform: translate(25rem, 0); -moz-transform: translate(25rem, 0); -ms-transform: translate(25rem, 0); -o-transform: translate(25rem, 0); transform: translate(25rem, 0); }
.csstransforms.no-csstransforms3d .off-canvas-wrapper-inner.custom-width-off-canvas.is-off-canvas-open.is-open-right { -webkit-transform: translate(-25rem, 0); -moz-transform: translate(-25rem, 0); -ms-transform: translate(-25rem, 0); -o-transform: translate(-25rem, 0); transform: translate(-25rem, 0); }
.custom-width-off-canvas .position-left { left: -25rem; }
.custom-width-off-canvas .position-right { right: 25rem; }
.no-csstransforms .custom-width-off-canvas > .off-canvas-wrapper-inner.is-off-canvas-open.is-open-left { right: 25rem; }
.no-csstransforms .off-canvas-wrapper-inner.custom-width-off-canvas.is-off-canvas-open.is-open-right { left: 25rem; }

/* Fix horizontal scroll of form within off-canvas */
.position-left form,.position-right form{margin:0 1em;}


/* Fix horizontal scroll in off-canvas content */
#main{overflow-x:auto}

/* Fix for form labels within off-canvas */
.position-left form label,.position-right form  label{color: #EEE;}

/* Fix for fieldset within off-canvas */
.position-left form fieldset legend,.position-right form fieldset legend,
.position-left .checkbox_togglers,.position-right .checkbox_togglers
{
	background-color: #333 !important;
	color:#EEE;
	font-weight:normal;
}
