@import 'vendor/normalize';
@import 'master-settings';

// Sass utilities
@import 'util/util';

// Global variables and styles
@import 'global';

// Components
@import 'grid/grid';
@import 'typography/typography';
@import 'forms/forms';
@import 'components/visibility';
@import 'components/float';
@import 'components/button';
@import 'components/button-group';
@import 'components/accordion-menu';
@import 'components/accordion';
@import 'components/badge';
@import 'components/breadcrumbs';
@import 'components/callout';
@import 'components/close-button';
@import 'components/drilldown';
@import 'components/dropdown-menu';
@import 'components/dropdown';
@import 'components/flex-video';
@import 'components/label';
@import 'components/media-object';
@import 'components/menu';
@import 'components/off-canvas';
@import 'components/orbit';
@import 'components/pagination';
@import 'components/progress-bar';
@import 'components/reveal';
@import 'components/slider';
@import 'components/sticky';
@import 'components/switch';
@import 'components/table';
@import 'components/tabs';
@import 'components/title-bar';
@import 'components/top-bar';
@import 'components/thumbnail';
@import 'components/tooltip';


@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@import 'spinner';
@import 'printer';


a {cursor:pointer}

caption {
	font-style:italic;
	padding-bottom:.5em;
	text-align:center;
}
caption.bottom {
	caption-side:bottom;
	padding-bottom:.0;
	padding-top:.5em
}

table.hover {
	margin-left: auto;
	margin-right: auto;
	width:auto;

	.has-tip {font-weight:normal}

	.actions {
		white-space:nowrap;

		.button {
			margin:0;
			padding:.3em .5em;
		}

		form {display:inline-block}
	}

	td {
		vertical-align: middle !important;
	}

	tbody:hover > tr {/*opacity: 0.5;*/}
	tbody:hover > tr:hover {
		opacity: 1.0;
		background-color:#BBB !important;
	}
}

tr.zebra {

	th:nth-child(odd) {
		background-color: #074E68;
		color: #FFF;
		text-shadow: 0px 0px 1px #000;

		a{
			color: #FFF;
			text-decoration: underline
		}
	}

	th:nth-child(even) {
		background-color: #2ba6cb;
		color: #222;
		text-shadow: 0px 0px 2px #FFF;

		a{
			color: #000;
			text-decoration: underline
		}
	}
}

form [class*="block-grid-"] > li {padding:0;}
fieldset.checkables {
	padding-top:.5em;
	padding-bottom:0;

	.checkbox_togglers {
		margin-top: -2em;
		padding:0 .5em;
		background-color:white;
		float:right;
	}
}

.nowrap {white-space: nowrap;}

.flash-alert {margin:1em 20% 0}

/* Fix for magellan + top-bar.fixed */
div[data-magellan-expedition-clone] + div[data-magellan-expedition=fixed]{margin-top:45px;}

#delete-modal-form {padding-bottom:0}
#report .tab-bar {background-color:rgba(51, 51, 51, 0.9)} /*Hex: #333*/

/*Top bar*/
.top-bar .menu-text h1, .top-bar .menu-text h2, .top-bar .menu-text h3, .top-bar .menu-text h4, .top-bar .menu-text p, .top-bar .menu-text span {
	font-size: 1.0625rem;
	line-height: 2.8125rem;
	margin: 0;
}
