@import 'admin-settings';

// Sass utilities
@import 'util/util';

// Global variables and styles
@import 'global';

// Components
@import 'grid/grid';
@import 'typography/typography';
@import 'forms/forms';
@import 'components/visibility';
@import 'components/float';
@import 'components/button';
@import 'components/button-group';
@import 'components/accordion-menu';
@import 'components/accordion';
@import 'components/badge';
@import 'components/breadcrumbs';
@import 'components/callout';
@import 'components/close-button';
@import 'components/drilldown';
@import 'components/dropdown-menu';
@import 'components/dropdown';
@import 'components/flex-video';
@import 'components/label';
@import 'components/media-object';
@import 'components/menu';
@import 'components/off-canvas';
@import 'components/orbit';
@import 'components/pagination';
@import 'components/progress-bar';
@import 'components/reveal';
@import 'components/slider';
@import 'components/sticky';
@import 'components/switch';
@import 'components/table';
@import 'components/tabs';
@import 'components/title-bar';
@import 'components/top-bar';
@import 'components/thumbnail';
@import 'components/tooltip';
@import "src/motion-ui";


@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include motion-ui-transitions;
@include motion-ui-animations;

@import 'spinner';
@import 'printer';


a {cursor:pointer}

caption {
	font-style:italic;
	padding-bottom:.5em;
	text-align:center;
}
caption.bottom {
	caption-side:bottom;
	padding-bottom:.0;
	padding-top:.5em
}

table.hover {
	margin-left: auto;
	margin-right: auto;
	width:auto;

	.has-tip {font-weight:normal}

	.actions {
		white-space:nowrap;

		.button {
			margin:0;
			padding:.3em .5em;
		}

		form {display:inline-block}
	}

	td {
		vertical-align: middle !important;
	}

	tbody:hover > tr {/*opacity: 0.5;*/}
	tbody:hover > tr:hover {
		opacity: 1.0;
		background-color:#BBB !important;
	}
}

tr.zebra {

	th:nth-child(odd) {
		background-color: #074E68;
		color: #FFF;
		text-shadow: 0px 0px 1px #000;

		a{
			color: #FFF;
			text-decoration: underline
		}
	}

	th:nth-child(even) {
		background-color: #2ba6cb;
		color: #222;
		text-shadow: 0px 0px 2px #FFF;

		a{
			color: #000;
			text-decoration: underline
		}
	}
}

form [class*="block-grid-"] > li {padding:0;}
fieldset.checkables {
	border: 1px solid #ddd;
    margin: 1.125rem 0;
	padding-top:.5em;
	padding-bottom:0;

	.checkbox_togglers {
		margin-top: -2em;
		padding:0 .5em;
		background-color:white;
		float:right;
	}
}

.checkables {
	margin-bottom: 4em;
}

fieldset legend {
	background: #fff none repeat scroll 0 0;
	font-weight: 700;
	margin: 0;
}
legend {
	border: 0 none;
	padding: 0;
}

.nowrap {white-space: nowrap;}

.flash-alert {margin:1em 20% 0}

/* Fix for magellan + top-bar.fixed */
div[data-magellan-expedition-clone] + div[data-magellan-expedition=fixed]{margin-top:45px;}

#delete-modal-form {padding-bottom:0}
#report .tab-bar {background-color:rgba(51, 51, 51, 0.9)} /*Hex: #333*/

/*Top bar*/
.contain-to-grid .top-bar {
	margin: 0 auto;
	max-width: 62.5rem;
}

.contain-to-grid{
	background: #333 none repeat scroll 0 0;
}
.top-bar .menu-text h1, .top-bar .menu-text h2, .top-bar .menu-text h3, .top-bar .menu-text h4, .top-bar .menu-text p, .top-bar .menu-text span {
	font-size: 1.0625rem;
	line-height: 1.5rem;
	margin: 0;
}

.top-bar-right {
	margin-top:0.3rem;
}

.top-bar .submenu li label{
	background: #333 none repeat scroll 0 0;
	white-space: nowrap;
	color: #777;
	font-size: 0.625rem;
	font-weight: 700;
	margin-bottom: 0;
	padding: 8px 0.9375rem 2px;
	text-transform: uppercase;
}

.top-bar .submenu li a:not(.button) {
	background: #333 none repeat scroll 0 0;
	color: #fff;
	line-height: 2.8125rem;
	padding: 12px 0.9375rem;
	white-space: nowrap;
}

.top-bar ul li > a:not(.button) {
	color: #fff;
	display: block;
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-size: 0.8125rem;
	font-weight: 400;
	padding: 12px 0 12px 0.9375rem;
	text-transform: none;
	
}

.top-bar .submenu li a:not(.button):hover{
	background: #242424 none repeat scroll 0 0;
}
.dropdown.menu .submenu{
	min-width: 100px;
}


.top-bar ul {
	list-style: outside none none;
}

.top-bar ul li > a.button.alert {
	background-color: #f04124;
	border-color: #cf2a0e;
	color: #fff;
	min-height:2rem;
	text-align: center;
	vertical-align:middle;
}
.top-bar .submenu li .button, .top-bar .dropdown li button {
	top: auto;
}

/*Panel*/
.panel {
	background: #f2f2f2 none repeat scroll 0 0;
	border-color: #d8d8d8;
	border-style: solid;
	border-width: 1px;
	color: #333;
	margin-bottom: 1.25rem;
	padding: 1.25rem;
}

.panel > *:last-child {
	margin-bottom: 0;
}
.panel > *:first-child {
	margin-top: 0;
}

.row .colum{
	clear: both;
}

/*Alerts*/
.alert-box.success {
	background-color: #43ac6a;
	border-color: #3a945b;
	color: #fff;
}
.alert-box.radius {
	border-radius: 3px;
}
.flash-alert {
	margin: 1em 20% 0;
}
.alert-box {
	background-color: #008cba;
	border-color: #0078a0;
	border-style: solid;
	border-width: 1px;
	color: #fff;
	display: block;
	font-size: 0.8125rem;
	font-weight: 400;
	margin-bottom: 1.25rem;
	padding: 0.875rem 1.5rem 0.875rem 0.875rem;
	position: relative;
	transition: opacity 300ms ease-out 0s;
}

.alert-box .close {
	background: inherit;
	color: #333;
	font-size: 1.375rem;
	line-height: 0.9;
	margin-top: -0.6875rem;
	opacity: 0.3;
	padding: 0 6px 4px;
	position: absolute;
	right: 0.25rem;
	top: 50%;
}

/*Errors forms*/
small.error, span.error {
	background: #f04124 none repeat scroll 0 0;
	color: #fff;
	display: block;
	font-size: 0.75rem;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 1rem;
	margin-top: -1px;
	padding: 0.375rem 0.5625rem 0.5625rem;
}

small {
	font-size: 60%;
	line-height: inherit;
}

input.error, select.error, textarea.error {
	margin-bottom: 0;
}