



$palette: $white $ghost $snow $vapor $white-smoke $silver $smoke $gainsboro $iron $base $aluminum $jumbo $monsoon $steel $charcoal $tuatara $oil $jet $black $primary-color $secondary-color $alert-color $success-color $warning-color $info-color;

@each $color in $palette {
	$i: index($palette, $color);
	.color-#{$i} {
		background-color: $color;
	}
}
.palette {
	display:inline-block;
	height: 50px;
	width: 50px;
}
